body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

.chat-window{
    clear: both;
    z-index: 100057;
    position: fixed;
    right: 121px;
    bottom: 24px;
    background: #fff;
    height: 380px;
}
.chat-window>iframe{
    height: 380px;
}