    <div class="credits text-center">
        <p>
            <a href="https://github.com/skumar1708/chatbot-with-user-registeration">MEAN Stack User Registration and Login Example With Live ChatBot</a>
        </p>
        <p>
            <a href="#">skumar1708</a>
        </p>
    </div>
</body>
</html>